@import "vars";
@import "global";
@import "fonts";
body {
    background-image: url(../images/limes.jpg);
    background-size: contain;
    color: midnightblue;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    .schedul__blok {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .butons_filtr {
            margin: 15px 0;
            input {
                background-color: $bcgColor;
                border: 2px solid $borderColor;
                padding: 10px;
                border-radius: 4px;
                color: midnightblue;
                &+input {
                    margin-left: 10px;
                }
                ;
                &.current {
                    background-color: #e5ffbb;
                    box-shadow: 0 0 10px rgb(20, 141, 160);
                    border: 2px solid #148da0;
                    transition: all .5s;
                }
                ;
                &:hover {
                    background-color: #b0ee4d;
                    transition: all .5s;
                }
            }
        }
        .title {
            margin-top: 50px;
            border: 2px solid $borderColor;
            border-radius: 10px;
            width: 70%;
            background-color: $bcgColor;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            padding: 10px;
        }
        .days {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .days__item {
                display: none;
                height: 400px;
                width: 565px;
                margin: 20px 0;
                padding: 20px;
                padding-left: 30px;
                border: 3px solid $borderColor;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                background-color: $bcgColor;
                border-radius: 10px;
                transition: all .5s;
                &.curent {
                    border: 3px solid #148da0;
                    background-color: #e5ffbb;
                    box-shadow: 0 0 10px rgb(20, 141, 160);
                    transition: all .5s;
                }
                &:hover {
                    background-color: #b0ee4d;
                    transition: all .5s;
                }
                .item__title {
                    margin: 5px 0 15px;
                    text-align: center;
                    font-size: 23px;
                    font-weight: bold;
                }
                .lists {
                    display: flex;
                    .houers {
                        width: 28%;
                        li {
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-bottom: 2px solid $borderBottonColor;
                            &+li {
                                margin-top: 5px;
                            }
                        }
                    }
                    .lessons {
                        list-style: none;
                        width: 72%;
                        li {
                            height: 45px;
                            display: flex;
                            align-items: center;
                            padding-left: 7px;
                            border-bottom: 2px solid $borderBottonColor;
                            &+li {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

;
@media screen and (max-width: 650px) {
    .container {
        .schedul__blok {
            .butons_filtr {
                margin: 10px 0;
                margin-bottom: 5px;
                input {}
            }
            .title {
                width: 95%;
                margin-top: 15px;
                border: 2px solid $borderColor;
                border-radius: 12px;
                padding: 5px;
                font-size: 25px;
            }
            .days {
                .days__item {
                    width: 95%;
                    height: auto;
                    padding-left: 0;
                    padding: 10px;
                    border: 2px solid $borderColor;
                    margin: 10px 0;
                    .item__title {
                        margin: 5px 0 8px;
                    }
                    .lists {
                        .houers {
                            width: 32%;
                            li {
                                height: 60px;
                                padding: 7px 5px;
                                text-align: center;
                                overflow: hidden;
                            }
                        }
                        .lessons {
                            li {
                                height: 60px;
                                padding: 7px 5px;
                                text-align: left;
                                overflow: hidden;
                            }
                        }
                    }
                    &.curent,
                    &:hover {
                        border: 2px solid #148da0;
                    }
                }
            }
        }
    }
}

;