@import "vars";
@import "global";
@import "fonts";
.container {
    .schedul__blok {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {}
        .days {
            background-color: brown;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .days__item {
                background-color: aquamarine;
                height: 400px;
                width: 520px;
                margin: 20px 0;
                padding: 20px;
                padding-left: 30px;
                border: 2px solid;
                &.curent{
                    background-color: red;
                }
                .item__title {
                    background-color: chocolate;
                    margin: 25px 0 15px
                }
                .lists {
                    display: flex;
                    .houers {
                        width: 25%;
                        li {
                            height: 45px;
                            border: 1px solid;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(220, 200, 20);
                            &+li {
                                margin-top: 5px;
                            }
                        }
                    }
                    .lessons {
                        list-style: none;
                        width: 75%;
                        li {
                            height: 45px;
                            border: 1px solid;
                            display: flex;
                            align-items: center;
                            padding-left: 7px;
                            background-color: crimson;
                            &+li {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}